extends layout

block content
    div.row
        #player-container

        div.movie-description
            h2 Name ( year )
            span
                address director.name
            br
            span
                address actor.name


